language: python

dist: bionic
sudo: false

cache: pip

matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
    - python: 3.8
    - python: 3.9
    - python: 3.10
    - python: 3.11
    - python: nightly

install:
  - pip install pycodestyle pyflakes

script:
  - cd "$TRAVIS_BUILD_DIR/nova3/engines"
  - python -m compileall *.py
  - pyflakes *.py
  # skipping E265, fixing it will break plugin usage on older qbt instances (< v4.1.2)
  - pycodestyle --ignore=E265,W503 --max-line-length=100 --statistics *.py
